@model IEnumerable<MarketWeight.Core.Moneda>
@using Microsoft.Extensions.Options
@inject IOptions<List<string>> AdminEmails

<h2>Lista de Monedas</h2>

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">@TempData["Mensaje"]</div>
}

@{
    var email = Context.Session.GetString("Email");
}


@if (AdminEmails.Value.Contains(email))
{
    <a class="btn btn-success mb-3" href="@Url.Action("Crear", "Moneda")">Agregar Moneda</a>
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var moneda in Model)
    {
        <tr>
            <td>@moneda.IdMoneda</td>
            <td>@moneda.Nombre</td>
            <td>@moneda.Precio</td>
            <td>@moneda.Cantidad</td>
        </tr>
    }
    </tbody>
</table>
